
/*
This is the default stylesheet.
This contains the default styles for the website,
and some additionals like global style reset. Always import.
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: var(--bg);
}

p,
a,
h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

html, body {
    overscroll-behavior:  none;
    overflow-x: clip;
}
