
/* navbar section */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 99;
}

/**
Frosted glass backdrop/background
component used over simple backdrop filter on parent
due to backdrop filter interfering with the mobile navlink's positioning
 */
.navbar__backdrop {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 120, 120, 0.2);
    backdrop-filter: blur(20px);
    z-index: -1;
}

.navbar__profile-image {
    width: 2.5em;
    height: 2.5em;
    padding: 15px 0;
    border-radius: 35%;
}

/* Navlink styles for mobile */

/* Subtle handle bar icon */
.navbar__links ul::before{
    content: '';
    background-color: white;
    display: flex;
    margin: 0 auto 2.5rem auto;
    width: 20px;
    height: 2px;
    align-self: center;
    justify-content: center;
}

.navbar__links {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    padding: 1.25rem 0 2rem 0;
    z-index: 101;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.navbar__links ul {
    list-style: none;
    width: 100%;
}

.navbar__links li {
    width: 100%;
}

.navbar__underline {
    display: none;
}

.navbar__links a {
    width: 100%;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.navbar__links a:hover {
    background-color: var(--lighter-bg);
}

.navbar__links svg {
    display: block;
    text-align: center;
}

.navbar__links span {
    display: block;
    padding: 0.35rem;
    text-align: center;
}

/* Icon styles */

.navbar__icon {
    background: none;
    border: none;
}

.navbar__icon svg {
    width: 16px;
    height: 16px;
    color: var(--text);
    padding: 0.5rem;
    border-radius: 100%;
    border: 1px solid var(--border);

    background: var(--bg);
}

.navbar__icon a {
    text-decoration: none;
    color: var(--text);
    font-family: 'JetBrains Mono Thin', sans-serif;
}

.navbar__overlay {
    z-index: 101;
}

/* Desktop styles */

@media (min-width: 768px) {

    .navbar__links ul::before {
        display: none;
    }

    .navbar__links svg {
        opacity: 0;
        position: absolute;
    }

    .navbar__link--active svg {
        opacity: 1;
        position: static;
    }

    .navbar__links span{
        text-align: left;
    }

    .navbar__links span:hover {
        color: var(--primary);
    }

    .navbar__links a:hover{
        background-color: transparent;
    }

    .hamburger-menu {
        display: none;
    }

    .navbar__links {

        /* Style reset */
        left: auto;
        bottom: auto;
        width: auto;
        margin: initial;

        /* Actual desktop styles */
        background-color: var(--bg);
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        border: 1px solid var(--border);
        border-radius: 25px;
        padding: 0 1rem;
        background-image: linear-gradient(
                to top,
                oklch(30% 0.005 0deg),
                var(--bg)
        );
    }

    .navbar__links ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        z-index: 100;
    }

    .navbar__links li {
        padding: 0.65rem 0.75rem;
        position: relative;
        z-index: 100;
    }

    .navbar__underline {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, transparent 0%, var(--primary) 40%, var(--primary) 60%, transparent);
    }

    .navbar__links a {
        font-size: 15px;
        padding: 0;
    }

    .navbar__links span {
        padding: 0;
    }

    .navbar__link--active {
        display: inline-flex;
        align-items: center;
        overflow: visible;
    }

    .navbar__link--active a {
        display: inline-flex;
        align-items: center;
        color: var(--primary);
    }

    .navbar__link--active span {
        color: var(--primary);
    }

    .navbar__link--active svg {
        margin-right: 0.5rem;
        color: var(--primary);
    }

    .navlink-glow {
        width: 5rem;
        height: 5rem;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        background: radial-gradient(var(--muted-primary) 20%, transparent 100%);
        position: absolute;
        z-index: 99;
        filter: blur(30px);
        pointer-events: none;
    }
}